.baniere{
    background-image: url(../assets/VilleFuturiste1.jpeg);
    background-size: cover ;
    background-position: center;
    height: 350px;
    display: grid;
    place-items: center;
    color: white;

}

#nameOfPage {
    margin-top: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
    background-color: #11102f;
}

.img{
    width: 400px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.ligne1{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ligne2{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover img:hover{
    box-shadow: 0 0 40px rgb(255, 0, 162);
}